:root {
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  --clr-primary-a0: #ffd900;
  --clr-primary-a10: #ffdd3c;
  --clr-primary-a20: #ffe15b;
  --clr-primary-a30: #ffe575;
  --clr-primary-a40: #ffe98d;
  --clr-primary-a50: #ffeea4;

  --clr-surface-a0: #02070f;
  --clr-surface-a10: #1e2126;
  --clr-surface-a20: #36383d;
  --clr-surface-a30: #4f5155;
  --clr-surface-a40: #6a6c6f;
  --clr-surface-a50: #86878a;

  --clr-surface-tonal-a0: #1e1c15;
  --clr-surface-tonal-a10: #33312a;
  --clr-surface-tonal-a20: #494741;
  --clr-surface-tonal-a30: #605f59;
  --clr-surface-tonal-a40: #797772;
  --clr-surface-tonal-a50: #92918d;

}

body {
  background-color: var(--clr-surface-tonal-a0);
  color: whitesmoke;
  font-family: Inter, Verdana, sans-serif;
  margin: 0;
}

@font-face {
  font-family: "Hypik";
  src: url(/hypik.otf);
}
      
h1,
h2 {
  font-family: "Hypik";
  letter-spacing: 1.5px;
  font-weight: 100;
}

.s {
  border-radius: 10px;
  padding: 4.5px;
  color: var(--clr-dark-a0);
  background-color: var(--clr-primary-a0);
  font-family: Inter;
  font-weight: bold;
  letter-spacing: normal;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid var(--clr-primary-a0);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 10px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--clr-surface-tonal-a10);
  user-select: none;
}

.menu-item:hover {
  background-color: var(--clr-surface-tonal-a20);
}

.menu-item.active {
  background-color: var(--clr-primary-a0);
}

.menu-item.active .menu-item-text {
  color: var(--clr-dark-a0) !important;
}

.menu-item-text {
  text-decoration: none;
  color: var(--clr-light-a0);
}

.logo-image {
  width: 250px;
  height: 50px;
  object-fit: cover;
  user-select: none;
}

.footer {
  width: calc(100% - 20px);
  background-color: var(--clr-surface-a0);
  color: var(--clr-surface-a50);
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--clr-primary-a0);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.footer-item p {
  margin: 0;
  margin-bottom: 2px;
}

.placeholder {
  height: 90px;
  object-fit: cover;
  user-select: none;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credit {
  text-decoration: none;
  color: var(--clr-primary-a30);
  cursor: pointer;
  user-select: none;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social img {
  border-radius: 5px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  user-select: none;
  object-fit: cover;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--clr-surface-tonal-a10);
  user-select: none;
}

.quote-text {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: var(--clr-surface-a50);
  margin: 0;
}

.quote-signature {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.drivers-teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  user-select: none;
}

.team {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.team-name {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding-left: 15px;
}

.team-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--clr-surface-tonal-a10);
  user-select: none;
  cursor: pointer;
}

.team-member-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.team-member-name {
  text-decoration: none;
  color: var(--clr-light-a0);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: 0;
  font-size: 20px;
}

.car-number-member-name {
  display: flex;
  flex-direction: column;
}

.car-number {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: var(--clr-surface-a50);
}

.main-content {
  margin-bottom: 138px;
  padding: 10px;
}

.flag {
	width: 1.9em;
	height: 1.9em;
	vertical-align: middle;
	pointer-events: none;
	padding: 1px;
}